<a href="https://colab.research.google.com/github/RoseVZ/recommender-system/blob/main/Recommender1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Imports

In [ ]:
import pandas as pd
import tensorflow as tf
import pandas as pd
import numpy as np

Importing the dataset

In [ ]:
dataset=pd.read_csv('datacomp2.csv',encoding = 'unicode_escape')

In [ ]:
dataset.head(20)

,Title,Artist,Genres
0,Dance Monkey,Tones and I,['pop']
1,ROXANNE,Arizona Zervas,"['pop','rap']"
2,Tusa,KAROL G,"['latin','trap']"
3,Circles,Post Malone,['rap']
4,Memories,Maroon 5,"['pop','rock']"
5,Falling,Trevor Daniel,"['rap' , 'pop', 'r&b']"
6,Don't Start Now,Dua Lipa,"['pop', 'dance']"
7,RITMO (Bad Boys For Life),Black Eyed Peas,"['pop','dance']"
8,SeÃ±orita,Shawn Mendes,"['pop' , 'dance']"
9,Blinding Lights,The Weeknd,"['pop','r&b']"
10,bad guy,Billie Eilish,"['pop', 'electropop']"
11,everything I wanted,Billie Eilish,"['pop', 'electropop']"
12,Adore You,Harry Styles,['pop']
13,Lose You To Love Me,Selena Gomez,"['pop' , 'dance']"
14,Watermelon Sugar,Harry Styles,['pop']
15,Old Town Road - Remix,Lil Nas X,"['lgbtq','hip pop','rap','pop']"
16,Sucker,Jonas Brothers,"['pop','boy band','dance', 'pop']"
17,Psycho,Red Velvet,"['kpop','girl band']"
18,Bohemian Rhapsody,Queen,"['rock','classic']"
19,Believer,Imagine Dragons,"['modern','rock', 'pop']"

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   20 non-null     object
 1   Artist  20 non-null     object
 2   Genres  20 non-null     object
dtypes: object(3)
memory usage: 608.0+ bytes

In [ ]:
dataset.shape

(20, 3)

In [ ]:
dataset.Genres.unique()

array(["['pop']", "['pop','rap']", "['latin','trap']", "['rap']",
       "['pop','rock']", "['rap' , 'pop', 'r&b']", "['pop', 'dance']",
       "['pop','dance']", "['pop' , 'dance']", "['pop','r&b']",
       "['pop', 'electropop']", "['lgbtq','hip pop','rap','pop']",
       "['pop','boy band','dance', 'pop']", "['kpop','girl band']",
       "['rock','classic']", "['modern','rock', 'pop']"], dtype=object)

In [ ]:
pd.isnull(dataset['Genres'])

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
Name: Genres, dtype: bool

In [ ]:
dataset[['Artist']]

             Artist
0       Tones and I
1    Arizona Zervas
2           KAROL G
3       Post Malone
4          Maroon 5
5     Trevor Daniel
6          Dua Lipa
7   Black Eyed Peas
8      Shawn Mendes
9        The Weeknd
10    Billie Eilish
11    Billie Eilish
12     Harry Styles
13     Selena Gomez
14     Harry Styles
15        Lil Nas X
16   Jonas Brothers
17       Red Velvet
18            Queen
19  Imagine Dragons

In [ ]:
from ast import literal_eval

features = ['Genres']
for feature in features:
    dataset[feature] = dataset[feature].apply(literal_eval)

In [ ]:
dataset.Genres.head(19)

0                          [pop]
1                     [pop, rap]
2                  [latin, trap]
3                          [rap]
4                    [pop, rock]
5                [rap, pop, r&b]
6                   [pop, dance]
7                   [pop, dance]
8                   [pop, dance]
9                     [pop, r&b]
10             [pop, electropop]
11             [pop, electropop]
12                         [pop]
13                  [pop, dance]
14                         [pop]
15     [lgbtq, hippop, rap, pop]
16    [pop, boyband, dance, pop]
17              [kpop, girlband]
18               [rock, classic]
Name: Genres, dtype: object

In [ ]:

def clean_data(x):
      if isinstance(x, list):
          return [str.lower(i.replace(" ", "")) for i in x]
      else:

          if isinstance(x, str):
              return str.lower(x.replace(" ", ""))
          else:
              return ''

In [ ]:
features = ['Artist','Genres']

for feature in features:
    dataset[feature] = dataset[feature].apply(clean_data)

In [ ]:
def soup(x):
    return ' '.join(x['Genres']) + ' ' + x['Artist']

In [ ]:
dataset['soup'] = dataset.apply(soup, axis=1)
dataset[['soup']]

                                   soup
0                         pop tonesandi
1                 pop rap arizonazervas
2                     latin trap karolg
3                        rap postmalone
4                      pop rock maroon5
5              rap pop r&b trevordaniel
6                     pop dance dualipa
7               pop dance blackeyedpeas
8                 pop dance shawnmendes
9                     pop r&b theweeknd
10          pop electropop billieeilish
11          pop electropop billieeilish
12                      pop harrystyles
13                pop dance selenagomez
14                      pop harrystyles
15         lgbtq hippop rap pop lilnasx
16  pop boyband dance pop jonasbrothers
17              kpop girlband redvelvet
18                   rock classic queen
19       modern rock pop imaginedragons

Count Matrix

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words=None)
count_matrix = count.fit_transform(dataset['soup'])

In [ ]:
count_matrix.shape

(20, 32)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [ ]:
dataset = dataset.reset_index()
indices = pd.Series(dataset.index, index=dataset['Title'])

In [ ]:
def get_recommendations(title, cosine_sim=cosine_sim2):
    idx = indices[title] #get index of song asked
    similarity_score = list(enumerate(cosine_sim[idx]))#similarity score
    similarity_score = sorted(similarity_score, key=lambda x: x[1], reverse=True)
    similarity_score = similarity_score[1:6]# 5 similiar songs 
    songindex = [i[0] for i in similarity_score] #songs index
    return dataset['Title'].iloc[songindex]#top 5 songs

In [ ]:
get_recommendations('Sucker', cosine_sim2)

6               Don't Start Now
7     RITMO (Bad Boys For Life)
8                     SeÃ±orita
13          Lose You To Love Me
0                  Dance Monkey
Name: Title, dtype: object